{% load static %}
<div class="space-y-4 md:space-y-6 max-w-md mx-auto mt-24 md:mt-36 pb-10">
  <div class="rating !flex justify-center">
    {% for _ in "12345" %}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-yellow-500">
        <path fill-rule="evenodd" d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z" clip-rule="evenodd"></path>
      </svg>
    {% endfor %}
  </div>

  <div class="text-base leading-relaxed space-y-2 max-w-md mx-auto text-center">
    <p>I dont want to send my resume to every employer. But Im too busy to build a portfolio website</p>
    <p>Tech Guru shows that Im a Guru by helping me showcase my businesses and generate traffic.</p>
  </div>

  <div class="flex justify-center items-center gap-3 md:gap-4">
    <img alt="product reviewer" src="{% static 'images/product_review.jpg' %}" loading="lazy" width="48" height="48" decoding="async" data-nimg="1" class="w-10 h-10 md:w-12 md:h-12 rounded-full object-cover" style="color:transparent" >
    <div>
      <p class="font-semibold">Son Sohee</p>
      <p class="text-base-content-secondary text-sm">Product Engineer</p>
    </div>
  </div>
</div>