# ==============================================================================
# Example .env file
# Please copy this file to `.env` and substitute all the values required.
# Some values are prefilled, some you will need to get from another
# developer, and some will be specific to your local setup.
# ==============================================================================

# ==============================================================================
# Version
# ==============================================================================
VERSION=0.0.1

# ==============================================================================
# Sentry Settings
# ==============================================================================

ENABLE_SENTRY=
SENTRY_ENV=
SENTRY_DSN=