
{% comment %}
    Footer template.
{% endcomment %}

<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="#"><i class="icon ion-social-instagram"></i></a>
      <a href="#"><i class="icon ion-social-snapchat"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
    <div class="footer-links-row">
      <ul class="footer-links">
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <p class="copyright">Your App Name © 2023</p>
  </footer>
</div>


